*{
    box-sizing: border-box;
}
.container{
    /* position: sticky; */
    border: 2px solid rgb(241, 239, 233);
    background-color: white;
    z-index: 100000;
}
div input{
    border: 2px solid rgb(241, 239, 233);
    margin: 2px 326px;
    width: 222px;
    height: 39px;
    border-radius: 6px;
    cursor: pointer;;
}
body{
    font-family: 'Roboto', sans-serif;
}
#insta{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
}
.right img{
    margin: 14px 15px;
    cursor: pointer;
    /* padding-right: 20px; */
}

.left{
    display: inline-block;
    position: absolute;
    /* border: 2px solid red; */
    left: 340px;
    top: 21px;
    font-size: 100;
    cursor: pointer;
    
}

.mid{
    /* border: 2px solid green; */
    display: block;
     width: 50%;
    margin: 21px auto;
    /* left: 34px; */
            /* border: 2px solid white; */

}
.right{
    /* border: 2px solid purple; */
    display: inline-block;
    position: absolute;
    right: 290px;
    top: 21px;
        /* border: 2px solid pink; */

}
.story{
    height: 150px;
    border: 2px solid rgb(241, 239, 233);
    background-color: white;
    margin: 12px 400px;
    
}
.story img{
    display: inline-block;
    height: 80px;
    margin: 20px 8px;
    border: 2px solid purple;
    border-radius: 44px;
   
}
.story img:hover{
    border-color:rgba(128, 0, 128, 0.116);
    cursor: pointer;
}
 .profile img{
    display: inline-block;
    height: 80px;
    margin: 10px 8px;
    border: 2px solid purple;
    border-radius: 44px;
 }

.imgProfile{
    height: 650px;
    border: 2px solid purple;
    margin: 12px 400px;
}
.profile{
    border: 2px solid rgb(241, 239, 233);
    background-color: white;
    margin: 8px 4px;
    height: 100px;
}

.image img{
   margin-left: 12px;
   margin-right: 12px;

}

#name{

    /* border: 2px solid red; */
    height: 25px;
    margin-bottom: 20px;
}
 .username{
     display: inline-block;
     margin: 0px 16px;
 }